body#ST {
    .post {
        .dashpost {
            //SAF only
            &.saf-custom {
                --accent: rgb(var(--rgb));
                --accent-90: rgba(var(--rgb), 0.9);
                --accent-80: rgba(var(--rgb), 0.8);
                --accent-70: rgba(var(--rgb), 0.7);
                --accent-60: rgba(var(--rgb), 0.6);
                --accent-50: rgba(var(--rgb), 0.5);
                --accent-40: rgba(var(--rgb), 0.4);
                --accent-30: rgba(var(--rgb), 0.3);
                --accent-20: rgba(var(--rgb), 0.2);
                --accent-10: rgba(var(--rgb), 0.1);
                --accent-light: rgb(var(--rgb));
                --accent-light-90: rgba(var(--rgb), 0.9);
                --accent-light-80: rgba(var(--rgb), 0.8);
                --accent-light-70: rgba(var(--rgb), 0.7);
                --accent-light-60: rgba(var(--rgb), 0.6);
                --accent-light-50: rgba(var(--rgb), 0.5);
                --accent-light-40: rgba(var(--rgb), 0.4);
                --accent-light-30: rgba(var(--rgb), 0.3);
                --accent-light-20: rgba(var(--rgb), 0.2);
                --accent-light-10: rgba(var(--rgb), 0.1);
                --wideImage: url(https://picsum.photos/500/250);
                --imagePosition: center;

                --bg-accent-solid: var(--accent);
                --bg-accent: var(--accent-70);
                --bg-accent-high: var(--accent-80);
                --bg-accent-mid: var(--accent-60);
                --bg-accent-low: var(--accent-40);
                
                --text-accent: var(--accent-light);
                
                --border-accent-color: var(--accent);
                --border-accent: 1px solid var(--accent);
                --border-accent-mid: 1px solid var(--accent-60);
                --border-accent-low: 1px solid var(--accent-40);
    
                tag-image {
                    background-image: var(--wideImage);
                    background-size: cover;
                    background-position: var(--imagePosition);
                }
            }
        }

        //rhys
        &.saf-23 .dashpost {
            --rgb: 163, 44, 36;
            --wideImage: url(https://images2.imgbox.com/d6/25/VIxcWmbe_o.png);
        }

        //callista
        &.saf-21 .dashpost {
            --rgb: 178, 180, 146;
            --wideImage: url();
        }

        //wren
        &.saf-25 .dashpost {
            --rgb: ;
            --wideImage: url();
        }

    }
}